# Dentro de Data/TFM permitir solo los notebooks indicados
Data/TFM/*
!Data/TFM/idealista_02.csv
!Data/TFM/idealista_03.csv
!Data/TFM/idealista_04.csv
!Data/TFM/idealista_05.csv
!Data/TFM/madrid_districts.geojson
!Data/TFM/datos_procesados_final.csv

# Dentro de Code/TFM permitir solo los notebooks indicados
Code/TFM/*
!Code/TFM/Notebool_11.ipynb
!Code/TFM/Geopandas.ipynb

# Ignora archivos de datos en cualquier parte, excepto los permitidos explícitamente
*.csv
*.xlsx
*.xls


# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db
historial_comandos.txt

# Directorios de entornos virtuales
nicolas-env/
