# Ignora todo por defecto en las carpetas code/ y data/
code/*
!code/tfm/

data/*
!data/idealista_02.csv
!data/idealista_03.csv
!data/idealista_04.csv
!data/idealista_05.csv
!data/madrid_districts.geojson
!data/datos_procesados_final.csv

# Dentro de data/TFM permitir solo los notebooks indicados
data/TFM/*
!data/TFM/Notebool_11.ipynb
!data/TFM/Geopandas.ipynb

# Ignora archivos de datos en cualquier parte, excepto los permitidos explícitamente
*.csv
*.xlsx
*.xls


# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db
historial_comandos.txt

# Directorios de entornos virtuales
nicolas-env/
